UneoWebApplicationAutoInstaller/.vs/
UneoWebApplicationAutoInstaller/UneoWebApplicationAutoInstaller/bin/
UneoWebApplicationAutoInstaller/UneoWebApplicationAutoInstaller/obj/
UneoWebApplicationAutoInstaller/UneoWebApplicationAutoInstaller.Tests/bin/
UneoWebApplicationAutoInstaller/UneoWebApplicationAutoInstaller.Tests/obj/
UneoWebApplicationAutoInstaller/UneoWebApplicationSetupInstaller/Release/
UneoWebApplicationAutoInstaller/UneoWebApplicationSetupInstaller/Debug/
